[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cors = "*"
django-cors-headers = "*"
djangorestframework = "*"
drf-spectacular = "*"
django-filter = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.11"
